@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}



.back{
    background-color: #1F2937;
    color: #fff;
    padding: 20px;
}

.one p{
    margin-top: 10px;
}

.two{
    margin-top: 20px;
}

.three{
    margin-top: 50px;
}

.four{
    margin-top: 50px;
}

.white{
    padding: 20px;
}

.gray{
    background-color: gainsboro;
    padding: 20px;
}